body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #4a4a4a;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    margin: 0;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #333;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.content-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.content-box h2 {
    margin-top: 0;
}

.content-box p {
    color: #666;
}

.user-id-input {
    margin-bottom: 20px;
}

.recommendation-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.recommendation-button {
    background-color: #47b384;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin-right: 10px;
    text-align: center;
}

.recommendation-button:hover {
    background-color: #388e3c;
}

.recommendation-button:last-child {
    margin-right: 0;
}

.recommendation-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.movie-info {
    flex: 1;
}

.watched-button {
    background-color: #47b384;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.watched-button:hover {
    background-color: #388e3c;
}
