<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рекомендатор</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="nav-container">
                <h1 class="logo">Поиск фильмов</h1>
                <ul class="nav-links">
                    <li><a href="{{ url_for('welcome') }}">Главная</a></li>
                    <li><a href="{{ url_for('index') }}">Поиск фильмов</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
