<!-- templates/welcome.html -->
{% extends "base.html" %}

{% block content %}
<div class="content-box">
    <h2>Найдите идеальный фильм</h2>
    <p>Выбирайте фильм, а мы подберем вам похожие на него.</p>
    <a href="{{ url_for('index') }}" class="recommendation-button">Поиск</a>
</div>

<div class="content-box">
    <h2>Как работает наша система</h2>
    <p>Мы анализируем ваши предпочтения, сравниваем с другими пользователями системы, чтобы предложить вам наиболее точные рекомендации.</p>
    <p>Если ничего не подходит, вы всегда можете ввести запрос вручную, и система покажет вам список фильмов.</p>
</div>
{% endblock %}
